<%- include('../partials/header'); -%>
    
    <div class="single">
        
        <h2>
            <%= note.text %>
        </h2>
        <div class="utility">
            <form class="solo" action="/notes/update/<%= note._id%>" method="GET">
                <button class="btn" type="submit">Update</button>
            </form>
            <form class="solo" action="/notes/delete/<%= note._id%>" method="GET">
                <button class="btn" id="deleteBtn" type="submit"> Delete</button>
            </form>
        </div>

    </div>


<%- include('../partials/footer'); -%>